// colors
$transparent-black-bg: rgba(0, 0, 0, 0.334);
$light-black: #2C3E50;
$blue: #45BBFF;
$deep-blue: #0e6da5;
$hover-blue: #3db3f7;
$green: #73D0A1;
$pink: #E55399;
$light-blue: #6dc0f07e;

// end of colors

// boxes
$width: 90vw;



// ====================
// ====================
// MIXINS
// ====================
// ====================

@mixin flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}




@mixin flex-space-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@mixin flex-align-center{
    display: flex;
    align-items: center;
}


@mixin background-cover-center{
    background-size: cover;
    background-position: center;
}



// ====================
// ====================
// END OF MIXINS
// ====================
// ====================